/*
 * GENERAL
 */

.root {
    -dark1: #111111;
    -dark2: #1E1E1E;
    -dark3: #2D2D2D;
    -dark4: #353535;
    -primary: #BB86FC;

    -text-color: -white;
    -button-text-color: -white;
    -background-color: -dark1;
    -surface-color: -dark2;
    -surface-color2: -dark3;
    -rippler-fill: -grey-600;
    -navigation-rippler-fill: -grey-400;
    -decorator-background-color: -black;
    -header-text-color: -white;
    -header-background-color: -dark2;
    -textfield-focus-color: -primary;
    -checkbox-checked-color: -primary;
    -checkbox-check-icon-color: -black;
    -scrollbar-background-color: -dark3;
    -scrollbar-color: -grey-700;
    -selected-background-color: -primary;
    -selected-text-color: -black;
    -table-border-color: -dark2;
}
