#root {
    -fx-background-color: -grey-900;
}

.jfx-dialog-layout {
    -fx-background-color: -grey-800;
}

.label, .dialog-close, .jfx-toggle-button, .jfx-text-field, .instance-type-button {
    -fx-text-fill: white;
}

.jfx-rippler {
    -jfx-rippler-fill: -grey-500;
}

.settings-button, .instance-type-button {
    -fx-background-color: black;
}

.settings-button .glyph-icon, .back-button .glyph-icon {
    -fx-fill: white;
}

.jfx-text-field {
    -jfx-focus-color: white;
}

.curseforge-svg {
    -fx-background-color: white;
}
