.root {
    -primary: rgb(98, 0, 238);
    -primary-variant: #3700B3;
    -primary-background: rgba(98, 0, 238, 0.12);

    -text-color: -black;
    -button-text-color: -primary;
    -background-color: -white;
    -surface-color: -white;
    -surface-color2: -white;
    -rippler-fill: -grey-400;
    -navigation-rippler-fill: -white;
    -decorator-background-color: -primary-variant;
    -header-text-color: -white;
    -header-background-color: -primary;
    -textfield-focus-color: -primary;
    -checkbox-checked-color: -primary;
    -checkbox-check-icon-color: -white;
    -scrollbar-background-color: #F1F1F1;
    -scrollbar-color: #BCBCBC;
    -selected-background-color: -primary-background;
    -selected-text-color: -primary;
    -table-border-color: -black;
}
