.root {
    -primary: rgb(98, 0, 238);
    -primary-variant: rgb(55, 0, 179);
    -primary-background: rgba(98, 0, 238, 0.12);

    -error: rgb(176, 0, 32);
    -error-background: rgba(176, 0, 32, 0.24);
    -error-variant: rgba(176, 0, 32, 0.6);
    -error-text: -white;

    -text-color: -black;
    -text-color-variant: rgba(0, 0, 0, 0.7);
    -button-text-color: -primary;
    -background-color: -white;
    -surface-color: -white;
    -surface-color2: -white;
    -surface-color-overlay: rgba(255, 255, 255, 0.3);
    -surface-color-variant: rgba(255, 255, 255, 0.6);
    -rippler-fill: -grey-400;
    -navigation-rippler-fill: -white;
    -decorator-background-color: -primary-variant;
    -header-text-color: -white;
    -header-background-color: -primary;
    -textfield-focus-color: -primary;
    -checkbox-checked-color: -primary;
    -checkbox-check-icon-color: -white;
    -scrollbar-background-color: rgb(241, 241, 241);
    -scrollbar-color: rgb(188, 188, 188);
    -selected-background-color: -primary-background;
    -selected-text-color: -primary;
    -table-border-color: -black;
}
