/*
 * GENERAL
 */

.root {
    -fx-font-family: Roboto;
    -white: white;
    -black: black;
    -success: rgb(76, 175, 80);
    -success-variant: rgba(76, 175, 80, 0.6);
}

#root {
    -fx-background-color: -background-color;
}

/* Text */
.label, .jfx-toggle-button, .jfx-text-field, .jfx-password-field, .jfx-check-box, .button-surface, .hyperlink {
    -fx-text-fill: -text-color;
}

.text-error {
    -fx-text-fill: -error;
}

.text-error .glyph-icon {
    -fx-fill: -error;
}

/* Glyph */
.glyph-icon.fill-error {
    -fx-fill: -error;
}

.glyph-icon.fill-success {
    -fx-fill: -success;
}

/* Decorator */
.jfx-decorator, .jfx-decorator-buttons-container {
    -fx-background-color: -decorator-background-color;
}

.jfx-decorator-content-container {
    -fx-border-color: -decorator-background-color;
}

.jfx-decorator-text {
    -fx-fill: -header-text-color;
}

.jfx-decorator-button .jfx-svg-glyph {
    -fx-background-color: -header-text-color;
}

.jfx-decorator-content-container {
    -fx-border-insets: 0 2 2 2;
}

/* Button */
.jfx-button {
    -jfx-button-type: RAISED;
}

.jfx-button, .navigation-button {
    -fx-cursor: hand;
}

.navigation-button > StackPane {
    -fx-padding: 6px;
}

.navigation-button .glyph-icon {
    -glyph-size: 24px;
    -fx-fill: -header-text-color;
}

.button-surface {
    -fx-background-color: -surface-color;
}

.button-surface-variant {
    -fx-background-color: -surface-color-variant;
}

.button-surface-variant:hover {
    -fx-background-color: -surface-color2;
}

.button-success {
    -fx-background-color: -success;
}

.button-success-variant {
    -fx-background-color: -success-variant;
}

.button-success-variant:hover {
    -fx-background-color: -success;
}

.button-error {
    -fx-background-color: -error;
}

.button-error-variant {
    -fx-background-color: -error-variant;
}

.button-error-variant:hover {
    -fx-background-color: -error;
}

.button-success, .button-success-variant {
    -fx-text-fill: -white;
}

.button-error, .button-error-variant {
    -fx-text-fill: -error-text;
}

.button-surface .glyph-icon, .button-surface-variant .glyph-icon {
    -fx-fill: -text-color;
}

.button-success .glyph-icon, .button-success-variant .glyph-icon {
    -fx-fill: -white;
}

.button-error .glyph-icon, .button-error-variant .glyph-icon {
    -fx-fill: -error-text;
}

/* Hyperlink */
.hyperlink:focused {
    -fx-border-width: 0;
}

.hyperlink {
    -fx-font-size: 16px;
}

.hyperlink .glyph-icon {
    -fx-fill: -text-color;
    -glyph-size: 16px;
}

/* TextField */
.jfx-text-field {
    -jfx-focus-color: -textfield-focus-color;
    -fx-prompt-text-fill: -text-color-variant;
}

/* CheckBox */
.jfx-check-box {
    -jfx-checked-color: -checkbox-checked-color;
}

.jfx-check-box .mark {
    -fx-background-color: -checkbox-check-icon-color;
}

/* Surface */
.surface {
    -fx-background-color: -surface-color;
    -fx-background-radius: 3px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 15, 0.16, 0, 4);
}

/* Container */
.container, .scroll-pane.container .viewport {
    -fx-background-color: -background-color;
}

/* ScrollPane */
.scroll-pane {
    -fx-background-color: transparent;
}

/* Rippler */
.jfx-rippler {
    -jfx-rippler-fill: -rippler-fill;
}

.navigation-button {
    -jfx-rippler-fill: -navigation-rippler-fill;
    -jfx-mask-type: CIRCLE;
}

.button-success .jfx-rippler, .button-success-variant .jfx-rippler {
    -jfx-rippler-fill: green;
}

.button-error .jfx-rippler, .button-error-variant .jfx-rippler {
    -jfx-rippler-fill: darkred;
}

/* Dialog */
.jfx-dialog-layout {
    -fx-background-color: -surface-color2;
}

.jfx-dialog-overlay-pane, .jfx-drawer-overlay-pane {
    -fx-background-color: rgba(0, 0, 0, 0.4);
}

.dialog-close {
    -fx-text-fill: -button-text-color;
}

/* Popup */
.jfx-popup StackPane, .jfx-popup .jfx-list-view, .jfx-popup .jfx-list-cell {
    -fx-background-color: -surface-color2;
}

.jfx-popup .jfx-list-cell {
    -fx-cursor: hand;
}

.jfx-popup .label {
    -fx-font-size: 14;
}

.jfx-popup .glyph-icon {
    -fx-fill: -text-color;
}

/* SVG */
.curseforge-svg {
    -fx-background-color: -text-color;
}

/* ScrollBar */
.scroll-bar > .track-background {
    -fx-background-color: -scrollbar-background-color;
    -fx-background-insets: 0;
}

.scroll-bar > .thumb {
    -fx-background-color: -scrollbar-color;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button {
    -fx-padding: 5 2 5 2;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button, .scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -scrollbar-color;
}

.scroll-bar > .increment-button > .increment-arrow {
    -fx-shape: "M298 426h428l-214 214z";
}

.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-shape: "M298 598l214-214 214 214h-428z";
}

/* TreeTableView */
.jfx-tree-table-view, .jfx-tree-table-view .tree-table-row-cell {
    -fx-background-color: -surface-color;
}

.jfx-tree-table-view .column-header-background, .jfx-tree-table-view .column-header {
    -fx-border-color: -surface-color;
}

.jfx-tree-table-view .tree-table-cell {
    -fx-text-fill: -text-color;
}

.jfx-tree-table-view .tree-table-cell .glyph-icon {
    -fx-fill: -text-color;
}

.jfx-tree-table-view .tree-table-row-cell:selected {
    -fx-background-color: -selected-background-color;
}

.jfx-tree-table-view .tree-table-row-cell:selected .tree-table-cell {
    -fx-text-fill: -selected-text-color;
}

.jfx-tree-table-view .tree-table-row-cell:selected .tree-table-cell .glyph-icon {
    -fx-fill: -selected-text-color;
}

/* TabPane */
.jfx-tab-pane .tab-header-area .tab {
    -fx-padding: 5;
}

.jfx-tab-pane .tab-header-area .tab .tab-label {
    -fx-text-fill: -text-color-variant;
}

.jfx-tab-pane .tab-header-area .tab:selected .tab-label {
    -fx-text-fill: -text-color;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: -surface-color2;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: -primary;
}

/* Menu Header */
.menu-header {
    -fx-padding: 10px;
    -fx-background-color: -header-background-color;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 15, 0.16, 0, 4);
}

.menu-header HBox {
    -fx-padding: 0 0 0 24;
}

.menu-header .glyph-icon {
    -fx-fill: -header-text-color;
    -glyph-size: 24px;
}

.menu-header .label {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 20;
    -fx-text-fill: -header-text-color;
}

.menu-header > Pane {
    -fx-pref-width: 36px;
}

/* Drawer Pane */
.drawer-pane {
    -fx-background-color: -surface-color;
    -fx-padding: 10;
}

.drawer-pane .button-list HBox {
    -fx-background-radius: 3;
}

.drawer-pane .button-list .jfx-button {
    -fx-text-fill: -text-color;
    -fx-alignment: CENTER_LEFT;
    -jfx-button-type: FLAT;
    -fx-graphic-text-gap: 24;
    -fx-padding: 10;
    -fx-font-size: 16;
    -fx-font-family: "Roboto Medium";
    -fx-pref-width: 250;
}

.drawer-pane .button-list .jfx-button.small {
    -fx-pref-width: 32;
}

.drawer-pane .button-list .jfx-button.important {
    -fx-background-color: -error-background;
}

.drawer-pane .button-list .jfx-button.selected, .drawer-pane HBox.selected {
    -fx-text-fill: -selected-text-color;
    -fx-background-color: -selected-background-color;
}

.drawer-pane .button-list HBox.selected .jfx-button {
    -fx-text-fill: -selected-text-color;
}

.drawer-pane .button-list .jfx-button .glyph-icon {
    -glyph-size: 24px;
    -fx-fill: -text-color;
}

.drawer-pane .button-list .selected .glyph-icon {
    -fx-fill: -selected-text-color;
}

/* Badge */
.jfx-badge .badge-pane {
    -fx-background-color: -error;
    -fx-background-radius: 18;
    -fx-pref-width: 18;
    -fx-pref-height: 18;
    -fx-alignment: center;
}

.jfx-badge .label {
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-text-fill: -white;
    -fx-padding: 0;
}

/* ValidationPane */
ValidationPane {
    -fx-background-color: -error;
    -fx-background-insets: 4 0 0 0;
    -fx-background-radius: 3;
    -fx-padding: 8 4 4 4;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 15, 0.16, 0, 4);
}

ValidationPane .label {
    -fx-text-fill: -white;
}

ValidationPane .glyph-icon {
    -fx-fill: -white;
}

/*
 * INSTANCE LIST
 */

.instance-list-item {
    -fx-padding: 0;
    -fx-pref-width: 120;
    -fx-pref-height: 120;
}

.instance-list-item-menu {
    -fx-background-color: -surface-color-overlay;
}

/*
 * TASK LIST
 */

.task-list, .task-list .list-cell {
    -fx-background-color: -background-color;
}

/*
 * NEW INSTANCE
 */

.instance-type-button {
    -fx-content-display: top;
    -fx-graphic-text-gap: 10px;
    -fx-pref-width: 192px;
    -fx-pref-height: 192px;
}

/*
 * NEW VANILLA INSTANCE
 */
