.root {
    -fx-font-family: Roboto;
}

.jfx-button, .custom-button {
    -fx-cursor: hand;
}

.custom-button StackPane {
    -fx-padding: 6px;
}

.new-instance-button .glyph-icon, .settings-button .glyph-icon {
    -glyph-size: 64px;
}

.back-button .glyph-icon {
    -glyph-size: 32px;
}

.new-instance-button {
    -fx-background-color: green;
}

.new-instance-button .glyph-icon {
    -fx-fill: white;
}

.instance-type-button {
    -fx-content-display: top;
    -fx-graphic-text-gap: 10px;
    -fx-pref-width: 192px;
    -fx-pref-height: 192px;
    -jfx-button-type: RAISED;
}